<div>
    <div class="card">
        <div class="card-header">
            <h2>{{post.title}}</h2>
            <p>Posted by {{post.user.username}} on {{post.createdAt}}</p>
        </div>
        <div class="card-body">
            <p>{{post.content}}</p>
        </div>
        <button class="btn">
            <a href="/post/{{post.id}}/comment">Add Comment</a>
        </button>        
        {{#if post.comments.length}}
        {{#each post.comments}}
        <section class="card-body">
            <h4>Comments</h4>
            <div>
                <p>
                    {{comment}}
                </p>
                <p>
                    {{comment.user.username}}, {{createdAt}}
                </p>
            </div>
        </section>
        {{/each}}
        {{/if}}
    </div>
    </div>
</div>
